replicaCount: 1

image:
  repository: traefik/whoami
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "traefik"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
  host: whoami.kube.home
  paths:
    - path: /
      pathType: Prefix
