replicaCount: 1

image:
  repository: gotify/server
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "traefik"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
  host: gotify.kube.home
  paths:
    - path: /
      pathType: Prefix

persistence:
  enabled: true
  storageClass: "local-path"
  accessMode: ReadWriteOnce
  size: 1Gi

env:
  - name: GOTIFY_DEFAULTUSER_NAME
    value: "admin"
  - name: GOTIFY_DEFAULTUSER_PASS
    value: "admin"
