{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "whoami.name" . }}
  labels:
    {{- include "whoami.labels" . | nindent 4 }}
spec:
  ingressClassName: traefik
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "whoami.name" . }}
            port:
              number: {{ .Values.service.port }}
{{- end }}
